{% extends 'base.html.twig' %}

{% block title %}Ajout de categorie{% endblock %}

{% block body %}

   {{ form_start(form) }}
   <div class="form-group">
      {{ form_label(form.libelle) }}
      {{ form_widget(form.libelle ) }}
   </div>

   {{ form_row(form.Envoyer) }}

   {{ form_end(form) }}

{% endblock %}

