{% extends 'base.html.twig' %}

{% block title %}Article detail{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center">
        <h1>Article</h1>
    </div>
    <div class="row">
        <div class="col">
            {%  if article.image is not null %}
                <img src="{{ asset('images/articles/'~article.image) }}" alt="paysage" height="500px" width="500px">
            {%  endif %} 
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                {# <img src="..." class="card-img-top" alt="..."> #}
                <div class="card-body text-center">
                    <h5 class="card-title">{{ article.titre }}</h5>
                    <p class="card-text">Description : {{ article.contenu }} <br>
                    Marque : {{ article.marque }} <br>
                    Quantité Restante: {{article.quantite}}<br>
                    Categories :
                        {% for categorie in article.getCategories %}
                        {{ categorie.libelle }}<br>
                    {% endfor %} <br>
                    Prix : {{ article.prix}}€
                    </p>
                    <a href="/panier/{{article.id}}/{{app.user.id}}" class="btn btn-primary stretched-link">Ajouter au panier</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

