{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center">
        <h1>Articles</h1>
    </div>
    <form>
    <fieldset>
        <legend>Filtres</legend>
        <div class="mb-3">
        <label for="categories" class="form-label">Categories</label>
        <select id="categories" class="form-select">
            <option>oui</option>
            <option>oui</option>
        </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
    </form>
    <div class="row">
    {% for article in articles %}
        <div class="card" style="width: 18rem;">
            {# <img src="..." class="card-img-top" alt="..."> #}
            <div class="card-body text-center">
                <h5 class="card-title">{{ article.titre }}</h5>
                 {%  if article.image is not null %}
                    <img src="{{ asset('images/articles/'~article.image) }}" alt="paysage">
                {%  endif %}
                <p class="card-text">Description : {{ article.contenu }} <br>
                Marque : {{ article.marque }} <br>
                Quantité : {{article.quantite}}<br>
                Categories :
                 {% for categorie in article.getCategories %}
                    {{ categorie.libelle }}<br>
                {% endfor %}
                </p>    
                <a href="article/{{article.id}}" class="btn btn-primary stretched-link">Voir l'article</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

